body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 650px;
    min-width: 350px;
    margin: 0 auto;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.center-text {
    font-size: 30px;
    text-align: center;
    position: relative;
    left:0;
    right:0;
    flex-grow: 1;
}


.left-list, .right-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-list {
    text-align: left;
}

.right-list {
    text-align: right;
}

.left-right {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.section-title {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.bottom-list {
    list-style-type: "▸ ";
    padding-left: 20px;
    margin-top: 0px;
}
